

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    border: 1px solid red;
    width: 50%;
    margin: 0 auto;
}

.container {
    height: 30%;
}

h1 {
    text-align: center;
}

nav ul {
    display: flex;
}

